@model SUNMark.Models.StockLedgerModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int isAdministrator = HttpContextAccessor.HttpContext.Session.GetInt32("IsAdministrator").Value;
    List<SUNMark.Models.StockLedgerModel> stockledgerList = ViewBag.stockledgerList as List<SUNMark.Models.StockLedgerModel>;
    List<SelectListItem> layoutList = ViewBag.layoutList as List<SelectListItem>;
    List<SelectListItem> pageNoList = ViewBag.pageNoList as List<SelectListItem>;
    var userRight = ViewBag.userRight as SUNMark.Models.UserFormRightModel;
    ViewData["Title"] = userRight.ModuleNm;
    string headerAdd = "";
    string headerList = "";
    string gridAdd = "";
    string gridList = "";
    bool headerAddTrue = false;
    bool headerListTrue = false;

    if (userRight != null && (userRight.IsAdd || userRight.IsEdit) && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
    {
        headerAdd = "active";
        gridAdd = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
}

<style>
    #tblDisplay thead tr th {
        padding: 5px !important;
        text-align: center
    }

    #tblDisplay tbody tr td {
        padding: 5px !important;
        text-align: center
    }
</style>


<div class="card card-primary">
    <div class="card-header" style="font-family:Verdana">
        <h6> @ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <button type="button" id="modelPopup" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="Display:none">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Print Option</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="radio" class="form-check-input" id="radio1" name="printOption" value="Print" checked>
                                        <label class="form-check-label" for="radio1">Print/View </label>
                                    </div>
                                    <div class="col-md-2 ">
                                        <input type="radio" class="form-check-input" id="radio2" name="printOption" value="Email">
                                        <label class="form-check-label" for="radio2">Email</label>
                                    </div>
                                    <div class="col-md-10 form-group">
                                        <input type="email" name="EmailAddress" Id="EmailAddress" class="from-control" style="display:none" required />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" class="form-check-input" id="radio3" name="printOption" value="WhatApp">
                                        <label class="form-check-label" for="radio2">WhatApp</label>
                                    </div>
                                    <div class="col-md-10 form-group">
                                        <input type="number" name="WhatappNo" Id="WhatappNo" class="from-control" style="display:none" required "               />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Esc - Cancel</button>
                            <button type="button" class="btn btn-primary" id="btn_ViewMailWhatapp">Submit (F9)</button>
                        </div>
                    </div>
                </div>
            </div>
            @if (userRight != null && userRight.IsList)
            {
                <div class="table-responsive mt-1" style="font-family:Verdana;font-size:small;font-display:inherit">
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label class="control-label font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                Date <span class="required"></span>
                            </label>
                            <div class="form-outline form-white mb-2">
                                @Html.TextBoxFor(x => x.Dt, new { @class = "form-control form-control-lg", @placeholder = "Date", @tabindex = "1", @style = "font-family: Verdana;font-size:small; height:30px; width:180px", @type = "date" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                Machine No <span class="required"></span>
                            </label>
                            <div class="form-outline form-white mb-2">
                                @Html.DropDownListFor(x => x.Machine, Model.MachineList, "Select", new { @class = "form-control select2", @tabindex = "2", @style = "font-family: Verdana;font-size:small; height:30px;width:180px" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                Shift <span class="required"></span>
                            </label>
                            <div class="form-outline form-white mb-2">
                                @Html.DropDownListFor(x => x.Shift, Model.ShiftList, "Select", new { @class = "form-control select2", @tabindex = "3", @style = "font-family: Verdana;font-size:small; height:30px;width:180px" })
                            </div>
                        </div>
                        <div class="col-md-5 mt-1 text-right">
                            <button class="btn btn-primary px-4 text-white" style="font-family:Verdana;font-size:medium" id="btnPrint" onclick=" GetMillPrint();">
                                Print (F9)
                            </button>
                            <a href="/StockLedger/index" class="btn btn-warning px-4 text-dark" style="font-family:Verdana;font-size:medium">
                                Cancel (Esc)
                            </a>
                        </div>
                    </div>
                    @*<div class="col-md-12 col-12 mb-2 mt-2">
                            <div class="row">
                                <div class="col-md-1 mb-2 float-left">
                                    <select class="form-control form-control-sm" onchange="loadData()" id="drpReportPageNoDatable">
                                        @for (int i = 0; i < pageNoList.Count; i++)
                                        {
                                            string checkedd = "checked";
                                            <option checked="@checkedd" value="@pageNoList[i].Value">@pageNoList[i].Text</option>
                                            checkedd = string.Empty;
                                        }

                                    </select>
                                </div>
                                <div class="col-md-5 col-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select class="form-control select2 drpReportLayout">
                                                <option value="" ; style="width:200px">--Select Layout--</option>
                                                @if (layoutList != null && layoutList.Count > 0)
                                                {
                                                    foreach (var item in layoutList)
                                                    {
                                                        if (item.Selected)
                                                        {
                                                            <option selected value="@item.Value">@item.Text </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.Value">@item.Text </option>
                                                        }
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-auto mb-2 custommt-2-3">
                                            @if (isAdministrator == 1)
                                            {
                                                <button class="btn btn-dark btn-sm text-white" style="font-family:Verdana;font-size:medium" onclick="window.open('/GridMaster/Index/' + $('.drpReportLayout').val(), '_blank');">
                                                    Edit
                                                </button>
                                            }
                                        </div>
                                        <div class="col-md-4 mb-2 custommt-2-3">
                                            <button class="btn btn-primary btn-sm" id="btnExportToExcel">Excel</button>
                                            <button class="btn btn-primary btn-sm ml-6" id="btnExportToPDF">PDF</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3 col-12 float-right">
                                    <input type="text" class="form-control form-control-sm" placeholder="Search" id="txtReportSearchDataTable" />
                                </div>
                            </div>
                        </div>*@
                    <div class="dataTable mt-3">

                    </div>
                    <div class="pager float-right"></div>
                </div>
            }
        </div>
    </div>
</div>

@*<script>

        var isRecentCalled = false;


        $(function () {
            $('#txtReportSearchDataTable').hide();

            var pageIndex = '';
            var pageSize = '';
            var totalRecord = '';
            var isDelete = '@Html.Raw(userRight.IsDelete)';
            var isEdit = '@Html.Raw(userRight.IsEdit)';
        })

        var timer = null;
        $('#txtReportSearchDataTable').keyup(function (e) {
            if (e.keyCode >= 112 && e.keyCode <= 123) {
                e.preventDefault();
                return false;
            }
            else {
                clearTimeout(timer);

                timer = setTimeout(loadData, 1000)
            }

        });

        function loadData(pageIndex, columnName, sortBy) {
                isRecentCalled = true;
                if (pageIndex == undefined || pageIndex == "" || pageIndex == "0" || pageIndex == 0) {
                    pageIndex = 1;
                }
                var layoutId = $('.drpReportLayout').val();

                if (!layoutId) {
                    $('.drpReportLayout').val($('.drpReportLayout').children('option').eq(1).prop('value'));
                    SetSelect2()

                }
                if (!columnName) {
                    columnName = '';
                }
                if (!sortBy) {
                    sortBy = '';
                }
            var company = $('#Company').val();
            var vno = $('#VNo').val();
            var trntype = $('#TrnType').val();
            var reciss = $('#RecIss').val();
            var product = $('#Product').val();
            var frDt = $('#FrDt').val();
            var toDt = $('#ToDt').val();
            var stock = $('#Stock').val();
            var thick = $('#Thick').val();
            var width = $('#WIdth').val();
            var qty = $('#Qty').val();
            var od = $('#OD').val();
            var nb = $('#NB').val();
            var sch = $('#Sch').val();
                $('.dataTable').html();
                $.ajax({
                    url: '/StockLedger/GetReportView',
                    type: 'GET',
                    data: {
                        pageIndex: pageIndex, pageSize: $('#drpReportPageNoDatable').val(), searchValue: $('#txtReportSearchDataTable').val(), gridMstId: $('.drpReportLayout').val(), columnName: columnName, sortby: sortBy, companyId: company, trnType: trntype, recIssId: reciss, productId: product, vno: vno, frDt: frDt, toDt: toDt, stockId: stock, thick: thick, width: width, qty: qty, od: od, nb : nb, sch :sch},
                    dataType: 'HTML',
                    traditional: true, // add this
                    success: function (data) {
                        $('.dataTable').html(data);
                        $('#txtReportSearchDataTable').show();
                        setTimeout(function () {
                            isRecentCalled = false;
                        }, 2000)
                    },
                    failure: function (response) {
                        errorMessage(response);
                    }
                });
        }

    </script>
    <script>
        var isRecentCalledEsc = false;
        (function (code) {
            code(window.jQuery, document, window);
        }(function ($, document, window) {
            $(function () {
                $(window)
                    .initKeyboard({ debug: 1 })
                    .on('Alt+V', function () {
                        loadData();
                    })
            });
        }));

        $('#btnExportToExcel').click(function () {
            var company = $('#Company').val();
            var vno = $('#VNo').val();
            var trntype = $('#TrnType').val();
            var reciss = $('#RecIss').val();
            var product = $('#Product').val();
            var frDt = $('#FrDt').val();
            var toDt = $('#ToDt').val();
            var stock = $('#Stock').val();
            var thick = $('#Thick').val();
            var width = $('#WIdth').val();
            var qty = $('#Qty').val();
            var od = $('#OD').val();
            var nb = $('#NB').val();
            var sch = $('#Sch').val();
            window.location.href = "/StockLedger/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&companyId=" + company + "&trnType=" + trntype + "&recIssId=" + reciss + "&productId=" + product + "&vNo=" + vno + "&frDt=" + frDt + "&toDt=" + toDt + "&stockId=" + stock + "&thick=" + thick + "&width=" + width + "&qty=" + qty + "&od=" + od + "&nb=" + nb + "&sch=" + sch;
        })

        $('#btnExportToPDF').click(function () {
            var company = $('#Company').val();
            var vno = $('#VNo').val();
            var trntype = $('#TrnType').val();
            var reciss = $('#RecIss').val();
            var product = $('#Product').val();
            var frDt = $('#FrDt').val();
            var toDt = $('#ToDt').val();
            var stock = $('#Stock').val();
            var thick = $('#Thick').val();
            var width = $('#Width').val();
            var qty = $('#Qty').val();
            var od = $('#OD').val();
            var nb = $('#NB').val();
            var sch = $('#Sch').val();
            window.location.href = "/StockLedger/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&companyId=" + company + "&trnType=" + trntype + "&recIssId=" + reciss + "&productId=" + product + "&vNo=" + vno + "&frDt=" + frDt + "&toDt=" + toDt + "&stockId=" + stock + "&thick=" + thick + "&width=" + width + "&qty=" + qty + "&od=" + od + "&nb=" + nb + "&sch=" + sch;
        })

        $(function () {
            var trantype = $('#TrnTypeVou').children('option:selected').text()
            if (trantype)
                $('input[name="TrnType"]').val(trantype);
        })

        $('#TrnTypeVou').change(function () {
            var trantype = $('#TrnTypeVou').children('option:selected').text()
            if (trantype)
                $('input[name="TrnType"]').val(trantype);
        })


        function SetSelect2() {
            $(".select2").select2();
        }

    </script>*@

<script>
    $(document).ready(function () {
        $("#btn_ViewMailWhatapp").click(function () {
            var dt = $('input[name="Dt"]').val();
            var machine = $('select[name="Machine"]').val();
            var shift = $('select[name="Shift"]').val();
            let optionVal = $('input:radio[name=printOption]:checked').val();
            if (optionVal == "Print") {
                $('#exampleModal').modal('hide');

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MillingPrintDetials", "MillReport")',
                    data: { "dt": dt, "machine": machine, "shift": shift},
                    dataType: "JSON",
                    success: function (data) {
                        var host = window.location.origin + data;
                        $('#exampleModal').modal('hide');
                        var win = window.open(host, '_blank');
                        if (win) {
                            win.focus();
                        } else {
                            alert('Please allow popups for this website');
                        }
                    },
                    error: function (response) {
                        $("#EmailAddress").val("");
                    }
                });
            }
            else if (optionVal == "Email") {
                if ($("#EmailAddress").val() != "" && $("#EmailAddress").val() != null) {
                    $.ajax({
                        type: "POST",
                        url: '/MillReport/MillSendMail',
                        data: { "dt": dt, "machine": machine, "shift": shift, "email": $("#EmailAddress").val() },
                        dataType: "JSON",
                        success: function (data) {
                            if (data.result) {
                                    showSuccessMessage(data.message);
                            }
                            else {
                                showErrorMessage(data.message);
                            }
                            $('#radio1').prop('checked', true);
                            $("#EmailAddress").val("");
                            $('#exampleModal').modal('toggle');
                        },
                        error: function (response) {
                                $("#EmailAddress").val("");
                        }
                    });
                }
                else {
                    alert("Please Enter Email Address")
                }


                //window.location.href = "/JobWorkEntry/JobWorkSendMail?id=" + ReturnId + "&email=" + $("#EmailAddress").val();

            }
            else if (optionVal == "WhatApp") {
                let whNO = $("#WhatappNo").val();
                if (whNO != "" && whNO != null) {
                    if (whNO.length == 10) {
                        $.ajax({
                            type: "POST",
                            url:  '/MillReport/MillWhatApp',
                            data: { "dt": dt, "machine": machine, "shift": shift, "whatappNo": whNO },
                            dataType: "JSON",
                            success: function (data) {
                                if (data.result == "error") {
                                    showErrorMessage(data.message)
                                }
                                else {
                                    showSuccessMessage(data.message);
                                }
                                $('#radio1').prop('checked', true);
                                $("#WhatappNo").val("");
                                $("#WhatappNo").hide();
                                $('#exampleModal').modal('toggle');
                            },
                            error: function (data) {
                                $("#WhatappNo").val("");
                            }
                        });
                    }
                    else {
                        alert("Please enter 10 digit number")
                    }
                }
                else {
                    alert("Please enter what app number")
                }

            }

        });
    });


    $("#btnPrint").click(function () {
        $("#modelPopup").click();
    })
</script>