@model SUNMark.Models.StockLedgerModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int isAdministrator = HttpContextAccessor.HttpContext.Session.GetInt32("IsAdministrator").Value;
    List<SUNMark.Models.StockLedgerModel> stockledgerList = ViewBag.stockledgerList as List<SUNMark.Models.StockLedgerModel>;
    List<SelectListItem> layoutList = ViewBag.layoutList as List<SelectListItem>;
    List<SelectListItem> pageNoList = ViewBag.pageNoList as List<SelectListItem>;
    var userRight = ViewBag.userRight as SUNMark.Models.UserFormRightModel;
    ViewData["Title"] = userRight.ModuleNm;
    string headerAdd = "";
    string headerList = "";
    string gridAdd = "";
    string gridList = "";
    bool headerAddTrue = false;
    bool headerListTrue = false;

    if (userRight != null && (userRight.IsAdd || userRight.IsEdit) && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
    {
        headerAdd = "active";
        gridAdd = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
}

<style>
    #tblDisplay thead tr th {
        padding: 5px !important;
        text-align: center
    }

    #tblDisplay tbody tr td {
        padding: 5px !important;
        text-align: center
    }
    .required{
        color: red;
    }
</style>


<div class="card card-primary">
    <div class="card-header" style="font-family:Verdana">
        <h6> @ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        <div class="col-md-12">
            <button type="button" id="modelPopup" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="Display:none">
                Launch demo modal
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Print Option</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check">
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="radio" class="form-check-input" id="radio1" name="printOption" value="Print" checked>
                                        <label class="form-check-label" for="radio1">Print/View </label>
                                    </div>
                                    <div class="col-md-2 ">
                                        <input type="radio" class="form-check-input" id="radio2" name="printOption" value="Email">
                                        <label class="form-check-label" for="radio2">Email</label>
                                    </div>
                                    <div class="col-md-10 form-group">
                                        <input type="email" name="EmailAddress" Id="EmailAddress" class="from-control" style="display:none" required />
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" class="form-check-input" id="radio3" name="printOption" value="WhatApp">
                                        <label class="form-check-label" for="radio2">WhatApp</label>
                                    </div>
                                    <div class="col-md-10 form-group">
                                        <input type="number" name="WhatappNo" Id="WhatappNo" class="from-control" style="display:none" required "               />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Esc - Cancel</button>
                            <button type="button" class="btn btn-primary" id="btn_ViewMailWhatapp">Submit (F9)</button>
                        </div>
                    </div>
                </div>
            </div>
            @if (userRight != null && userRight.IsList)
            {
                <div class="table-responsive mt-1" style="font-family:Verdana;font-size:small;font-display:inherit">
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label class="control-label font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                Date <span class="required">*</span>
                            </label>
                            <div class="form-outline form-white mb-2">
                                @Html.TextBoxFor(x => x.Dt, new { @class = "form-control form-control-lg", @placeholder = "Date", @tabindex = "1", @style = "font-family: Verdana;font-size:small; height:30px; width:180px", @type = "date", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                Machine No <span class="required">*</span>
                            </label>
                            <div class="form-outline form-white mb-2">
                                @Html.DropDownListFor(x => x.Machine, Model.MachineList, "Select", new { @class = "form-control select2", @tabindex = "2", @style = "font-family: Verdana;font-size:small; height:30px;width:180px", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                Shift <span class="required">*</span>
                            </label>
                            <div class="form-outline form-white mb-2">
                                @Html.DropDownListFor(x => x.Shift, Model.ShiftList, "Select", new { @class = "form-control select2", @tabindex = "3", @style = "font-family: Verdana;font-size:small; height:30px;width:180px", @required = "required" })
                            </div>
                        </div>
                        <div class="col-md-5 mt-1 text-right">
                            <button class="btn btn-primary px-4 text-white" style="font-family:Verdana;font-size:medium" id="btnPrint" @*onclick=" GetMillPrint();"*@>
                                Print (F9)
                            </button>
                            <a href="/MillReport/index" class="btn btn-warning px-4 text-dark" style="font-family:Verdana;font-size:medium">
                                Cancel (Esc)
                            </a>
                        </div>
                    </div>
                    <div class="dataTable mt-3">

                    </div>
                    <div class="pager float-right"></div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#btn_ViewMailWhatapp").click(function () {
            var dt = $('input[name="Dt"]').val();
            var machine = $('select[name="Machine"]').val();
            var shift = $('select[name="Shift"]').val();
            let optionVal = $('input:radio[name=printOption]:checked').val();
            if (machine != '' && shift != '') {
                if (optionVal == "Print") {
                $('#exampleModal').modal('hide');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MillingPrintDetials", "MillReport")',
                    data: { "dt": dt, "machine": machine, "shift": shift},
                    dataType: "JSON",
                    success: function (data) {
                        var host = window.location.origin + data;
                        $('#exampleModal').modal('hide');
                        var win = window.open(host, '_blank');
                        if (win) {
                            win.focus();
                        } else {
                            alert('Please allow popups for this website');
                        }
                    },
                    error: function (response) {
                        $("#EmailAddress").val("");
                    }
                });
            }
            else if (optionVal == "Email") {
                if ($("#EmailAddress").val() != "" && $("#EmailAddress").val() != null) {
                    $.ajax({
                        type: "POST",
                        url: '/MillReport/MillSendMail',
                        data: { "dt": dt, "machine": machine, "shift": shift, "email": $("#EmailAddress").val() },
                        dataType: "JSON",
                        success: function (data) {
                            if (data.result) {
                                    showSuccessMessage(data.message);
                            }
                            else {
                                showErrorMessage(data.message);
                            }
                            $('#radio1').prop('checked', true);
                            $("#EmailAddress").val("");
                            $('#exampleModal').modal('toggle');
                        },
                        error: function (response) {
                                $("#EmailAddress").val("");
                        }
                    });
                }
                else {
                    alert("Please Enter Email Address")
                }


                //window.location.href = "/JobWorkEntry/JobWorkSendMail?id=" + ReturnId + "&email=" + $("#EmailAddress").val();

            }
            else if (optionVal == "WhatApp") {
                let whNO = $("#WhatappNo").val();
                if (whNO != "" && whNO != null) {
                    if (whNO.length == 10) {
                        $.ajax({
                            type: "POST",
                            url:  '/MillReport/MillWhatApp',
                            data: { "dt": dt, "machine": machine, "shift": shift, "whatappNo": whNO },
                            dataType: "JSON",
                            success: function (data) {
                                if (data.result == "error") {
                                    showErrorMessage(data.message)
                                }
                                else {
                                    showSuccessMessage(data.message);
                                }
                                $('#radio1').prop('checked', true);
                                $("#WhatappNo").val("");
                                $("#WhatappNo").hide();
                                $('#exampleModal').modal('toggle');
                            },
                            error: function (data) {
                                $("#WhatappNo").val("");
                            }
                        });
                    }
                    else {
                        alert("Please enter 10 digit number")
                    }
                }
                else {
                    alert("Please enter what app number")
                }

            }
            }
            else {
                showErrorMessage("Please select all mandatory fields!");
            }


        });
        $(".form-check input[name='printOption']").click(function () {
            $("#EmailAddress").hide();
            $("#WhatappNo").hide();
            let optionVal = $('input:radio[name=printOption]:checked').val();
            if (optionVal == "Print") {

            }
            else if (optionVal == "WhatApp") {
                $("#WhatappNo").show();
            }
            else {
                $("#EmailAddress").show();
            }
        });
    });


    $("#btnPrint").click(function () {
        var machine = $('select[name="Machine"]').val();
        var shift = $('select[name="Shift"]').val();
        if (machine != '' && shift != '') {

            $("#modelPopup").click();
        }
        else {
            showErrorMessage("Please select all mandatory fields!");
        }
    })
</script>
<script>
    $(document).ready(function () {
        $('select').select2({
            placeholder: {
                id: '', // the value of the option
                text: '---Select---'
            },
            allowClear: true
        });
    });
</script>