@model SUNMark.Models.OutFactoryModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    int isAdministrator = HttpContextAccessor.HttpContext.Session.GetInt32("IsAdministrator").Value;
    List<SUNMark.Models.OutFactoryModel> outwardList = ViewBag.outwardList as List<SUNMark.Models.OutFactoryModel>;
    List<SelectListItem> layoutList = ViewBag.layoutList as List<SelectListItem>;
    List<SelectListItem> layoutListNew = ViewBag.layoutListNew as List<SelectListItem>;
    List<SelectListItem> pageNoList = ViewBag.pageNoList as List<SelectListItem>;
    var userRight = ViewBag.userRight as SUNMark.Models.UserFormRightModel;
    ViewData["Title"] = userRight.ModuleNm;
    string headerAdd = "";
    string headerList = "";
    string gridAdd = "";
    string gridList = "";
    bool headerAddTrue = false;
    bool headerListTrue = false;


    if (userRight != null && (userRight.IsAdd || userRight.IsEdit) && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
    {
        headerAdd = "active";
        gridAdd = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
}
<style>
    .tab-nav-wrapper {
        width: 100%;
        overflow-x: auto;
        position: relative;
        z-index: 999;
        top: 3px;
    }

    .tabs ul {
        display: block;
        overflow-y: hidden;
        margin: 0;
        padding-inline-start: 5px;
    }

        .tabs ul li {
            display: inline-block;
            border: 1px solid grey;
            background-color: white;
            border-bottom: 2px solid #ccc;
        }

            .tabs ul li.active a {
                background-color: black;
                color: #fff;
            }

            .tabs ul li a {
                text-decoration: none;
                color: #000; /* Default font color */
                padding: 10px;
                line-height: 25px;
                position: relative;
                font-weight: bold;
                transition: color 0.3s; /* Add smooth transition for font color change */
            }

            .tabs ul li.active a {
                color: #fff; /* Font color for active tab */
            }

    .tab-content-wrapper {
        position: relative;
        z-index: 1;
        border: 3px solid #000;
        padding: 20px;
        min-height: 40px;
    }
</style>

<div class="card card-primary">
    <div class="card-header" style="font-family:Verdana">
        <h6> @ViewData["Title"] </h6>
    </div>
    <div class="card-body">
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                    @if (userRight != null && userRight.IsList)
                    {
                    <li class="nav-item">
                        <a class="nav-link @headerList" id="custom-tabs-three-list-tab" data-toggle="pill" href="#custom-tabs-three-list" role="tab" aria-controls="custom-tabs-three-list" aria-selected="@headerListTrue" style="font-family:Verdana;font-size:small" onclick="GoToListTab()">List (Alt+L)</a>
                    </li>
                    }
                    @if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
                    {
                    <li class="nav-item">
                        <a class="nav-link @headerAdd" id="custom-tabs-three-add-tab" data-toggle="pill" href="#custom-tabs-three-add" role="tab" aria-controls="custom-tabs-three-add" aria-selected="@headerAddTrue" style="font-family:Verdana;font-size:small" onclick="GoToAddTab()">Add/Update (F2)</a>
                    </li>
                    }
                </ul>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="tab-content" id="custom-tabs-three-tabContent">

                        <button type="button" id="modelPopup" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="Display:none">
                            Launch demo modal
                        </button>

                        <div class="modal fade" id="exampleModal" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Print Option</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-check">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="radio" class="form-check-input" id="radio1" name="printOption" value="Print" checked>
                                                    <label class="form-check-label" for="radio1">Print/View </label>
                                                </div>
                                                <div class="col-md-2 ">
                                                    <input type="radio" class="form-check-input" id="radio2" name="printOption" value="Email">
                                                    <label class="form-check-label" for="radio2">Email</label>
                                                </div>
                                                <div class="col-md-10 form-group">
                                                    <input type="email" name="EmailAddress" Id="EmailAddress" class="from-control" style="display:none" required />
                                                </div>
                                                <div class="col-md-2">
                                                    <input type="radio" class="form-check-input" id="radio3" name="printOption" value="WhatApp">
                                                    <label class="form-check-label" for="radio2">WhatApp</label>
                                                </div>
                                                <div class="col-md-10 form-group">
                                                    <input type="number" name="WhatappNo" Id="WhatappNo" class="from-control" style="display:none" required "                        />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Esc - Cancle</button>
                                        <button type="button" class="btn btn-primary" id="btn_ViewMailWhatapp">Submit (F9)</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (userRight != null && userRight.IsList)
                        {
                        <div class="tab-pane fade  @gridList" id="custom-tabs-three-list" role="tabpanel" aria-labelledby="custom-tabs-three-list-tab">
                            <div class="table-responsive mt-2" style="font-family:Verdana;font-size:small;font-display:inherit">
                                <div class="col-md-12 col-12 mb-2 mt-2">
                                    <div class="row">
                                        <div class="col-md-1 mb-2 float-left">
                                            <select class="form-control form-control-sm" onchange="loadData()" id="drpReportPageNoDatable">
                                                @for (int i = 0; i < pageNoList.Count; i++)
                                                    {
                                                        string checkedd = "checked";
                                                <option checked="@checkedd" value="@pageNoList[i].Value">@pageNoList[i].Text</option>
                                                        checkedd = string.Empty;
                                                    }

                                            </select>
                                        </div>
                                        <div class="col-md-5 col-12">
                                            <div class="row">
                                                <div class="col-md-6 col">
                                                    <select class="form-control select2 drpReportLayout" onchange="loadData()">
                                                        <option value="" ; style="width:200px">--Select Layout--</option>
                                                        @if (layoutList != null && layoutList.Count > 0)
                                                            {
                                                                foreach (var item in layoutList)
                                                                {
                                                        <option value="@item.Value">@item.Text </option>
                                                                }
                                                            }
                                                    </select>
                                                </div>
                                                <div class="col-md-2 col-auto mb-2 custommt-2-3">
                                                    @if (isAdministrator == 1)
                                                        {
                                                    <button class="btn btn-dark btn-sm text-white" style="font-family:Verdana;font-size:medium" onclick="window.open('/GridMaster/Index/' + $('.drpReportLayout').val(), '_blank');">
                                                        Edit
                                                    </button>
                                                        }
                                                </div>
                                                <div class="col-md-4 mb-2 custommt-2-3">
                                                    <button class="btn btn-primary btn-sm" id="btnExportToExcel">Excel</button>
                                                    <button class="btn btn-primary btn-sm ml-6" id="btnExportToPDF">PDF</button>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3 col-12 float-right">
                                            <input type="text" class="form-control form-control-sm" placeholder="Search" id="txtReportSearchDataTable" />
                                        </div>
                                    </div>
                                </div>
                                <div class="dataTable">

                                </div>
                                <div class="pager float-right"></div>
                            </div>
                        </div>
                        }
                        @if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
                        {
                        <div class="tab-pane fade @gridAdd" id="custom-tabs-three-add" role="tabpanel" aria-labelledby="custom-tabs-three-add-tab">
                            <form method="post" class="mt-0" id="jobinwardForm">
                                <input type="hidden" id="txtIsPrint" name="isPrint" value="0" />
                                @Html.HiddenFor(x => x.Data)
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3  font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Company <span class="required"></span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            @Html.DropDownListFor(x => x.OutCmpVou, Model.CompanyList, "Select", new { @class = "form-control select2 OutCmpVou", @tabindex = "1", @style = "font-family: Verdana;font-size:small; height:30px; width:300px", @id = "txtOutCmpVou" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            V.No <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.TextBoxFor(x => x.OutVNo, new { @class = "form-control form-control-lg", @placeholder = "Outward No", @tabindex = "2", @style = "font-family: Verdana;font-size:small; height:30px; width: 100px", @required = "required", @name = "OutVNo", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Date <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.TextBoxFor(x => x.OutDt, new { @class = "form-control form-control-lg", @placeholder = "Date", @tabindex = "3", @style = "font-family: Verdana;font-size:small; height:30px; width: 200px", @required = "required", @type = "date" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Party <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2">
                                                            @Html.DropDownListFor(x => x.OutAccVou, new SelectList(Model.AccountList, "Value", "Text"), "Select", new { @class = "form-control select2 OutAccVou", @tabindex = "6", style = "font-family: Verdana;font-size:small; height:30px; width:300px ", @id = "OutAccVou", @onchange = "GetAccountCity(this)", @required = "required" })
                                                            <a class="btn btn-outline-info ml-2" href="/AccountMaster/index" target="_blank"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            City <span class="required"></span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            <input type="text" id="txtCtyName" name="CtyName" class="form-control form-control-lg" placeholder="City" tabindex="7" value="@Model.CtyName" style="font-family: Verdana;font-size:small; height:30px;width:170px" disabled="disabled" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Vehicle No <span class="required"></span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2">
                                                            <input type="text" id="txtOutVehNo" name="OutVehNo" class="form-control form-control-lg" placeholder="Vehicle No" tabindex="8" value="@Model.OutVehNo" style="font-family: Verdana;font-size:small; height:30px;width:170px" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Freight Rate <span class="required"></span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            <input type="text" id="txtOutFrightRt" name="OutFrightRt" class="form-control form-control-lg" placeholder="Freight Rate" tabindex="9" value="@Model.OutFrightRt" style="font-family: Verdana;font-size:small; height:30px;width:150px;text-align:right" onchange="numericFilter(this) " />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Transport <span class="required"></span>
                                                        </label>
                                                        <input type="hidden" name="OutTransNm" id="txtOutTransNm" value="@Model.OutTransNm" />
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.DropDownListFor(x => x.OutTrnVou, new SelectList(Model.TransportList, "Value", "Text"), "Select", new { @class = "form-control select2 OutTrnVou", @tabindex = "10", style = "font-family: Verdana;font-size:small; height:30px; width:300px" })
                                                            <a class="btn btn-outline-info ml-2" href="/AccountMaster/index" target="_blank"><i class="fa fa-plus"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            LR No. <span class="required"></span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2">
                                                            <input type="text" id="txtOutLRNo" name="OutLRNo" class="form-control form-control-lg" placeholder="LR No" tabindex="11" value="@Model.OutLRNo" style="font-family: Verdana;font-size:small; height:30px;width:170px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            WB Slip No <span class="required"></span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            <input type="text" id="txtOutWPNo" name="OutWPNo" class="form-control form-control-lg" placeholder="WP Slip No" tabindex="12" value="@Model.OutWPNo" style="font-family: Verdana;font-size:small; height:30px;width:170px" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            WB Weight <span class="required"></span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            <input type="text" id="txtOutWPWeight" name="OutWPWeight" class="form-control form-control-lg" placeholder="WP Weight" tabindex="13" value="@Model.OutWPWeight" style="font-family: Verdana;font-size:small; height:30px;width:170px;text-align:right" onchange="numericFilter(this) " />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Product <span class="required">*</span>
                                                        </label>
                                                        <input type="hidden" name="OutPrdTyp" />
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.DropDownListFor(x => x.OutPrdVou, Model.MainProductList, "Select", new { @class = "form-control select2 OutPrdVou", @tabindex = "14", @style = "font-family: Verdana;font-size:small; height:30px; width:300px", @required = "required", @id = "txtOutPrdVou" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Bill No <span class="required">*</span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            <input type="text" id="txtOutBillNo" name="OutBillNo" class="form-control form-control-lg" placeholder="Bill No" tabindex="15" value="@Model.OutBillNo" style="font-family: Verdana;font-size:small; height:30px;width:300px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Remarks <span class="required"></span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2">
                                                            <input type="text" id="txtOutRem" name="OutRem" class="form-control form-control-lg" placeholder="Remarks" tabindex="16" value="@Model.OutRem" style="font-family: Verdana;font-size:small; height:30px;width:300px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-1 col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            Sr.No
                                                        </label>
                                                        <input type="number" class="form-control" name="transactionGridSrNo" placeholder="Sr.No" onblur="EditRow(this.value)" style="height:35px;" />
                                                    </div>
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Godown <span class="required"></span>
                                                    </label>
                                                    <select class="form-control select2 OutAGdnVou" style="height:35px;width:150px" tabindex="18" name="OutAGdnVou">
                                                        <option value="">select</option>
                                                        @if (Model.GodownCoilList != null && Model.GodownCoilList.Count > 0)
                                                            {
                                                                foreach (var item in Model.GodownCoilList)
                                                                {
                                                        <option value="@item.Value"> @item.Text </option>
                                                                }
                                                            }
                                                    </select>
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Coil No <span class="required"></span>
                                                    </label>
                                                    <input type="text" class="form-control form-control-lg" placeholder="Coil No" tabindex="19" style="height:35px;width:150px;text-align:right" name="OutACoilNo" onchange="SuplierCoilCheck()" />
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Sup.Coil No <span class="required"></span>
                                                    </label>
                                                    <input type="text" class="form-control form-control-lg" placeholder="Coil No" tabindex="20" style="height:35px;width:150px;text-align:right" name="OutASupCoilNo" disabled="disabled" />
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Heat No <span class="required"></span>
                                                    </label>
                                                    <input type="text" class="form-control form-control-lg" placeholder="Heat No" tabindex="21" style="height:35px;width:150px;text-align:right" name="OutAHeatNo" disabled="disabled" />
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Grade <span class="required"></span>
                                                    </label>
                                                    <select class="form-control select2 OutAGrdVou" style="height:35px;width:150px" tabindex="22" name="OutAGrdVou" disabled="disabled">
                                                        <option value="">select</option>
                                                        @if (Model.GradeList != null && Model.GradeList.Count > 0)
                                                            {
                                                                foreach (var item in Model.GradeList)
                                                                {
                                                        <option value="@item.Value"> @item.Text </option>
                                                                }
                                                            }
                                                    </select>
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Width <span class="required"></span>
                                                    </label>
                                                    <input type="text" class="form-control form-control-lg" placeholder="WIdth" tabindex="23" style="height:35px;width:150px;text-align:right" name="OutAWidth" onfocus="this.select()" , onKeyUp="numericFilter(this);" disabled="disabled" />
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Thick <span class="required"></span>
                                                    </label>
                                                    <input type="text" class="form-control form-control-lg" placeholder="Thickness" tabindex="24" style="height:35px;width:150px;text-align:right" name="OutAThick" onfocus="this.select()" , onKeyUp="numericFilter(this);" disabled="disabled" />
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Weight <span class="required"></span>
                                                    </label>
                                                    <input type="text" class="form-control form-control-lg" placeholder="Weight" tabindex="25" style="height:35px;width:150px;text-align:right" name="OutAQty" , onKeyUp="numericFilter(this);" onfocus="this.select()" />
                                                </div>
                                                <div style=" width: 170px !important;    padding: 0 8px 4px 0px; ">
                                                    <label class="control-label customLabel" style="text-align:right; font-family: Nina;">
                                                        Remarks <span class="required"></span>
                                                    </label>
                                                    <input type="text" class="form-control form-control-lg" placeholder="Remarks" tabindex="26" style="height:35px;width:150px;text-align:right" name="OutARem" onfocus="this.select()" />
                                                </div>
                                                <div style=" width: 100px !important;    padding: 0 10px 4px 0px; ">
                                                    <div class="form-group text-right" style="margin-top:35px">
                                                        <i class="fa fa-plus text-blue" onclick="AddRowsCoil()" style="font-size:18px"></i>
                                                        <i class="fa fa-sync text-blue ml-3" onclick="ClearTextbox()" style="font-size:18px"></i>
                                                        <i class="fa fa-trash text-red ml-3 deleteButton" onclick="DeleteConfirmationTransaction('transaction-grid-1')"></i>
                                                    </div>
                                                </div>

                                                <div class="col-10">
                                                    <div class="row d-none">
                                                        <div class="col-2 d-none">
                                                            <label>Tran. Layout</label>
                                                        </div>
                                                        <div class="col-2 d-none">
                                                            <select class="form-control drpTransactionLayout">
                                                                @if (layoutListNew != null && layoutListNew.Count > 0)
                                                                    {
                                                                        foreach (var item in layoutListNew)
                                                                        {
                                                                <option value="@item.Value">@item.Text</option>
                                                                        }
                                                                    }
                                                            </select>
                                                        </div>
                                                        <div class="col-11"></div>
                                                        <div class="col-1">

                                                        </div>
                                                    </div>
                                                    <div class="customDivision">
                                                        <table class="custom-table gridViewTableResponsiveTransactionGridForm" id="transaction-grid-1">
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            @if (userRight.IsEdit && Model != null && Model.OutVou > 0)
                                                {
                                            <button class="btn btn-primary px-md-4 mb-2 text-white" style="font-family:Verdana;font-size:medium" id="btnSave">
                                                Save (F10)
                                            </button>
                                            <a href="/OutFactory/index" class="btn btn-warning px-md-4 mb-2 text-dark" style="font-family:Verdana;font-size:medium">
                                                Cancel (Esc)
                                            </a>
                                            <button class="btn btn-primary px-md-4 mb-2 text-white" style="font-family:Verdana;font-size:medium" id="btnPrint" type="button">
                                                Print (F9)
                                            </button>
                                                }
                                                else if (userRight.IsAdd && Model.OutVou == 0)
                                                {
                                            <button class="btn btn-primary px-md-4 mb-2 text-white" style="font-family:Verdana;font-size:medium" id="btnSave">
                                                Save (F10)
                                            </button>
                                            <a href="/OutFactory/index" class="btn btn-warning px-md-4 mb-2 text-dark" style="font-family:Verdana;font-size:medium">
                                                Cancel (Esc)
                                            </a>
                                            <button class="btn btn-primary px-md-4 mb-2 text-white" style="font-family:Verdana;font-size:medium" id="btnPrint" type="button">
                                                Print (F9)
                                            </button>
                                                }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let activeEle;
    $(document).ready(function () {
        var outvou = '@Html.Raw(Model.OutVou)';
        if (outvou != null && outvou != '' && outvou != 0) {
            GoToAddTab();
        }
        else {
            GoToListTab();
        }

        var focusType = '@Html.Raw(ViewBag.FocusType)';
        if (focusType != null && focusType != '' && focusType == 1) {
            GoToAddTab();
        }

    });

        function GoToAddTab() {
            $('#custom-tabs-three-list-tab').removeClass('active');
            $('#custom-tabs-three-add-tab').addClass('active');

            $('#custom-tabs-three-list').removeClass('active');
            $('#custom-tabs-three-add').addClass('active');
            $('#custom-tabs-three-add').addClass('show');
            document.getElementById('txtOutCmpVou').focus();
        }

        function GoToListTab() {
            $('#custom-tabs-three-list-tab').addClass('active');
            $('#custom-tabs-three-add-tab').removeClass('active');

            $('#custom-tabs-three-list').addClass('active');
            $('#custom-tabs-three-list').addClass('show');
            $('#custom-tabs-three-add').removeClass('active');
            $('#custom-tabs-three-add').removeClass('show');
            $('#txtReportSearchDataTable').focus();
        }


</script>
<script>
    var isRecentCalledEsc = false;
    var isRecentCalledAddRows = false;
    var isRecentCalledSave = false;
    var isRecentCalledPrint = false;
    (function (code) {
        code(window.jQuery, document, window);
    }(function ($, document, window) {
        $(function () {
            $(window)
                .initKeyboard({ debug: 1 })
                .on('F2', function () {
                    GoToAddTab()
                    GetVoucherNumber();
                }).on('F9', function () {
                    //$("#btnPrint").click();
                    if (!isRecentCalledPrint) {
                        isRecentCalledPrint = true;
                        activeEle = document.activeElement.name;
                        if ($('.modal.show').length != 0) {
                            $("#btn_ViewMailWhatapp").click();
                        }
                        else {
                            $("#btnPrint").click();
                            $('#frmOutFactory').submit();
                            setTimeout(function () {
                                isRecentCalledPrint = false;
                            }, 500)
                        }
                    }
                }).on('F10', function () {
                    $('#OutVNo').attr('disabled', false);
                    $('#txtCtyName').attr('disabled', false);
                    $('#OutASupCoilNo').attr('disabled', false);
                    $('#OutAHeatNo').attr('disabled', false);
                    $('#OutAGrdVou').attr('disabled', false);
                    $('#OutAWidth').attr('disabled', false);
                    $('#OutAThick').attr('disabled', false);
                    $("#btnSave").click();
                })
                .on('Alt+L', function () {
                    GoToListTab();
                })
                .on('Pagedown', function () {
                    if (!isRecentCalledAddRows) {
                        isRecentCalledAddRows = true;
                        var GdnVou = $('select[name="OutAGdnVou"]').children('option:selected').val();
                        var Grade = $('select[name="OutAGrdVou"]').children('option:selected').val();
                        var Width = $('input[name="OutAWidth"]').val();
                        var Thick = $('input[name="OutAThick"]').val();
                        var Qty = $('input[name="OutAQty"]').val();
                        if (GdnVou != "" && GdnVou != undefined && GdnVou != "0" && Grade != "" && Grade != undefined && Grade != "0" && Width != "" && Width != undefined && Width != "0" && Thick != "" && Thick != undefined && Thick != "0" && Qty != "" && Qty != undefined && Qty != "0") {
                            AddDataToGrid()

                            SetSelect2();

                            //Your any function to call after adding rows
                            $('select[name="OutAGdnVou"]').val(GdnVou);
                            SetSelect2();
                            setTimeout(function () {
                                isRecentCalledAddRows = false;
                            }, 500)
                            $('select[name="OutAGdnVou"]').focus();
                        }
                        else {
                            showErrorMessage("Please Entry Complsory Field!");
                            isRecentCalledAddRows = false;
                            return false;
                        }

                    }
                })
                .on('Alt+I', function () {
                    CheckRecordAddRows();
                })
                .on('Alt+C', function () {
                    if (confirm("Do you want to exit without save?")) {
                        isAdd == 2;
                        location.href = '/OutFactory/Index'
                    }
                    else {
                        $('#txtOutCmpVou').focus();
                    }

                }).on('Escape', function () {
                    if (!isRecentCalledEsc) {
                        isRecentCalledEsc = true;
                        if (confirm("Do you want to exit without save?")) {
                            localStorage.setItem("OutFactory", "2");
                            location.href = '/OutFactory/Index'

                        }
                        setTimeout(function () {
                            isRecentCalledEsc = false;
                        }, 500)
                    }

                })
        });
    }));

    function AddRowsCoil() {
        if (!isRecentCalledAddRows) {
            isRecentCalledAddRows = true;
            var GdnVou = $('select[name="OutAGdnVou"]').children('option:selected').val();
            var Grade = $('select[name="OutAGrdVou"]').children('option:selected').val();
            var Width = $('input[name="OutAWidth"]').val();
            var Thick = $('input[name="OutAThick"]').val();
            var Qty = $('input[name="OutAQty"]').val();
            if (GdnVou != "" && GdnVou != undefined && GdnVou != "0" && Grade != "" && Grade != undefined && Grade != "0" && Width != "" && Width != undefined && Width != "0" && Thick != "" && Thick != undefined && Thick != "0" && Qty != "" && Qty != undefined && Qty != "0") {
                AddDataToGrid()

                SetSelect2();

                //Your any function to call after adding rows
                $('select[name="OutAGdnVou"]').val(GdnVou);
                SetSelect2();
                setTimeout(function () {
                    isRecentCalledAddRows = false;
                }, 500)
            }
            else {
                showErrorMessage("Please Entry Complsory Field!");
                isRecentCalledAddRows = false;
                return false;
            }

        }
    }

</script>

<script>

    var isRecentCalled = false;


    $(function () {

        loadData();
        var pageIndex = '';
        var pageSize = '';
        var totalRecord = '';
        var isDelete = '@Html.Raw(userRight.IsDelete)';
        var isEdit = '@Html.Raw(userRight.IsEdit)';
    })

    var timer = null;
    $('#txtReportSearchDataTable').keyup(function (e) {
        if (e.keyCode >= 112 && e.keyCode <= 123) {
            e.preventDefault();
            return false;
        }
        else {
            clearTimeout(timer);

            timer = setTimeout(loadData, 1000)
        }

    });

    function GetVoucherNumber() {
        var OutVou = "0";
        if (OutVou == "0") {
            $.ajax({
                type: "POST",
                url: '/OutFactory/GetLastVoucherNo',
                data: "",
                dataType: "JSON",
                success: function (response) {
                    $('input[name="OutVNo"]').val(response.outVNo);
                },
                error: function (response) {

                }
            });
        }
    }


    function GetAccountCity(obj) {
        var accountList = JSON.parse('@Html.Raw(Json.Serialize(Model.AccountList))');
        var statevalue = $(obj).val();
        if (statevalue) {
            if (accountList != null && accountList.length > 0) {
                for (var x = 0; x < accountList.length; x++) {
                    if (accountList[x].value == statevalue) {
                        var cityname = accountList[x].value1;
                        $('#txtCtyName').val(accountList[x].value1)
                    }
                }
            }
        }
    }


    function loadData(pageIndex, columnName, sortBy) {
            isRecentCalled = true;
            if (pageIndex == undefined || pageIndex == "" || pageIndex == "0" || pageIndex == 0) {
                pageIndex = 1;
            }
            var layoutId = $('.drpReportLayout').val();

            if (!layoutId) {
                $('.drpReportLayout').val($('.drpReportLayout').children('option').eq(1).prop('value'));
                SetSelect2()

            }
            if (!columnName) {
                columnName = '';
            }
            if (!sortBy) {
                sortBy = '';
            }
            $('.dataTable').html();
            $.ajax({
                url: '/OutFactory/GetReportView',
                type: 'GET',
                data: { pageIndex: pageIndex, pageSize: $('#drpReportPageNoDatable').val(), searchValue: $('#txtReportSearchDataTable').val(), gridMstId: $('.drpReportLayout').val(), columnName: columnName, sortby: sortBy },
                dataType: 'HTML',
                traditional: true, // add this
                success: function (data) {
                    $('.dataTable').html(data);
                    setTimeout(function () {
                        isRecentCalled = false;
                    }, 2000)
                },
                failure: function (response) {
                    errorMessage(response);
                }
            });
    }

    $('#btnExportToExcel').click(function () {
        window.location.href = "/OutFactory/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&type=1";
    })
    $('#btnExportToPDF').click(function () {
        window.location.href = "/OutFactory/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&type=2";
    })
</script>

<script>
    $(function () {
        var outPrdTyp = $('#txtOutPtyVou').children('option:selected').text()
        if (outPrdTyp)
            $('input[name="OutPrdTyp"]').val(outPrdTyp);
    })

    $('#txtOutPtyVou').change(function () {
        var outPrdTyp = $('#txtOutPtyVou').children('option:selected').text()
        if (outPrdTyp)
            $('input[name="OutPrdTyp"]').val(outPrdTyp);
    })
</script>
<script type="text/javascript">
    $('#txtOutRem').focusout(function () {
        var value = $('#txtOutPtyVou').children('option:selected').html();
        if (value) {
            if (value == 'COIL' || value == 'coil') {
                $('#tblCoil').children('tbody').children('tr:first').children('td').eq(1).children('input').focus()
            }
            else if (value == 'PIPE' || value == 'pipe' || value == 'SEAMLESS PIPE' || value == 'seamless pipe') {
                $('#tblPipe').children('tbody').children('tr:first').children('td').eq(1).children('input').focus()
            }
            else {
                $('#tblOther').children('tbody').children('tr:first').children('td').eq(1).children('input').focus()
            }
        }
    })


</script>

<script>

    $("#btnSave").click(function () {
        $('#OutVNo').attr('disabled', false);
        $('#txtCtyName').attr('disabled', false);
        $('#OutASupCoilNo').attr('disabled', false);
        $('#OutAHeatNo').attr('disabled', false);
        $('#OutAGrdVou').attr('disabled', false);
        $('#OutAWidth').attr('disabled', false);
        $('#OutAThick').attr('disabled', false);
    })


    function numericFilter(txb) {
        txb.value = txb.value.replace(/[^\0-9]/ig, "");
    }
</script>
<script>

    function ProductFillList() {
        var prdtype = $('#txtOutPtyVou').children('option:selected').html();
        $.ajax({
            url: '/OutFactory/GetProductList',
            type: 'POST',
            data: { "PrdType": prdtype },
            dataType: 'JSON',
            traditional: true, // add this
            success: function (data) {
                if (data.result) {
                    if (data.data) {
                        mainProductList = data.data
                        var oldData = $('#txtOutPrdVou').val();
                        $('#txtOutPrdVou').children('option').remove();
                        var html = `<option value="">---Select---</option>`
                        for (var x = 0; x < data.data.length; x++) {
                            if (oldData && oldData == data.data[x].value) {
                                html += `<option selected="selected" value="` + data.data[x].value + `">` + data.data[x].text + `</option>`
                            } else {
                                html += `<option value="` + data.data[x].value + `">` + data.data[x].text + `</option>`
                            }

                        }
                        $('#txtOutPrdVou').append(html);
                        $('#txtOutPrdVou').select2();
                    }
                }
                else {
                    showErrorMessage(data.message);
                }
            },
            failure: function (response) {
                errorMessage(response);
            }
        });
    }

    function SuplierCoilCheck() {
        var outvou = '@Html.Raw(Model.OutVou)';
        var coilno = $('input[name="OutACoilNo"]').val();
        var srno1 = $('input[name="transactionGridSrNo"]').val();
        if (coilno != "" && coilno != undefined) {
            $.ajax({
                url: '/OutFactory/GetSupCoilCheck',
                type: 'POST',
                data: { 'coilno': coilno, 'srno1': srno1, 'outvou': outvou },
                dataType: 'JSON',
                traditional: true, // add this
                success: function (data) {

                    if (data.result) {
                        if (data.data == "1" && !isExists) {
                            showErrorMessage("Coil No Already Exsits!");
                            $('#OutACoilNo').focus();
                        }
                        else if (data.gdnVou != "0") {
                            //if (data.data != "-1") {
                                var isMatch = false;
                                $('#transaction-grid-1').children('tbody').children('tr:not(.totalRow)').each(function () {
                                    if ($(this).children('td').eq(3).html() == coilno) {
                                        isMatch = true;
                                    }
                                })
                                if (isMatch) {
                                    showErrorMessage("Coil No Already Exsits!");
                                    $('#transaction-grid-1').children('tbody').children('tr:not(.totalRow)').each(function () {
                                        if ($(this).children('td').eq(3).html() == coilno) {
                                            isMatch = true;
                                            $('#OutACoilNo').focus();
                                        }
                                    })
                                }
                                else {
                                    if (data.data != "-1" && data.data != "1") {
                                        $('input[name="OutASupCoilNo"]').val(data.supCoilNo);
                                        $('input[name="OutAHeatNo"]').val(data.heatNo);
                                        $('select[name="OutAGrdVou"]').val(data.grdVou);
                                        $('input[name="OutAWidth"]').val(data.width);
                                        $('input[name="OutAThick"]').val(data.thick);
                                        $('input[name="OutAQty"]').val(data.qty);
                                        $('input[name="OutASupCoilNo"]').focus();
                                    }
                                    else if (data.data == "1" && isExists) {
                                        showErrorMessage("Coil No Already Exsits!");
                                        $('#OutACoilNo').focus();
                                    }
                                    else {
                                        if (data.qty != "0" && data.qty != "" && data.qty != undefined) {
                                            $('#OutAQty').focus();
                                        }
                                        else {
                                            showErrorMessage("Coil No Not Found!");
                                            $('input[name="OutACoilNo"]').val('');
                                            $('input[name="OutACoilNo"]').focus();
                                        }

                                    }
                                }
                            //}
                        }
                        else {
                            if (!isExists) {
                                var isMatch = false;
                                $('#transaction-grid-1').children('tbody').children('tr:not(.totalRow)').each(function () {
                                    if ($(this).children('td').eq(3).html() == coilno) {
                                        isMatch = true;
                                    }
                                })
                                if (isMatch) {
                                    showErrorMessage("Coil No Already Exsits!");
                                    $('#transaction-grid-1').children('tbody').children('tr:not(.totalRow)').each(function () {
                                        if ($(this).children('td').eq(3).html() == coilno) {
                                            isMatch = true;
                                            $('#OutACoilNo').focus();
                                        }
                                    })
                                }
                            }
                        }

                        SetSelect2()
                    }
                    else {
                        errorMessage(response);
                    }
                },
                failure: function (response) {
                    errorMessage(response);
                }
            });
        }
    }

    $(function () {
        var trnasport = $('#OutTrnVou').children('option:selected').text()
        if (trnasport)
            $('input[name="OutTransNm"]').val(trnasport);
    })

    $('#OutTrnVou').change(function () {
        var trnasport = $('#OutTrnVou').children('option:selected').text()
        if (trnasport)
            $('input[name="OutTransNm"]').val(trnasport);
    })

    $(function () {
        var coiltype = $('#txtOutCoilTypeVou').children('option:selected').text()
        if (coiltype)
            $('input[name="CoilType"]').val(coiltype);
    })

    $('#txtOutCoilTypeVou').change(function () {
        var coiltype = $('#txtOutCoilTypeVou').children('option:selected').text()
        if (coiltype)
            $('input[name="CoilType"]').val(coiltype);
    })

</script>

<script>
    $(document).ready(function () {
        $(".OutAccVou").select2({
            placeholder: "---Select---",
            // added by anand on 25-01-2023 point no 19 from anand point
            ajax: {
                url: '/OutFactory/GetAccount-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $(".OutTrnVou").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/OutFactory/GetTransport-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });
    });

    function SetSelect2() {
        $(".select2").select2({
            placeholder: "---Select---",
        });
    }

</script>
<script>

    $('#frmOutFactory').submit(function (event) {
        if (!isSaveCalled) {
            isSaveCalled = true;
            setTimeout(function () {
                isSaveCalled = false;
            }, 1000)
            if (ValidateTextbox()) {
                localStorage.setItem("JobInward", "1");
                if (!isRecentCall) {
                    var ecoilno = $('input[name="OutACoilNo"]').val();
                    var egrade = $('select[name="OutAGrade"]').val();
                    var egdn = $('select[name="OutAGdnVou"]').val();
                    var ewidth = $('select[name="OutAWidth"]').val();
                    var eqty = $('select[name="OutAQty"]').val();
                    if (ecoilno != 0 && ecoilno != '' && ecoilno != undefined && egrade != 0 && egrade != '' && egrade != undefined && egdn != 0 && egdn != '' && egdn != undefined && ewidth != 0 && ewidth != '' && ewidth != undefined && eqty != 0 && eqty != '' && eqty != undefined) {
                        AddDataToGrid()
                    }
                    else {
                        if ($('#transaction-grid-1').children('tbody').children('tr:not(.totalRow)').length <= 0) {
                            alert("Please add data to grid.")
                            e.preventDefault();
                            return false;
                        }
                    }
                }
                $('#OutVNo').attr('disabled', false);
                $('#txtCtyName').attr('disabled', false);
                $('#OutAHeatNo').attr('disabled', false);
                $('#OutASupCoilNo').attr('disabled', false);
                $('#OutAGrdVou').attr('disabled', false);
                $('#OutAWidth').attr('disabled', false);
                $('#OutAThick').attr('disabled', false);
                $('form').unbind('submit').submit();
            }
            else {
                showErrorMessage("Please enter all compulsory fields!");
                return false;
            }
        }
    });

    $("#btnPrint").click(function () {
        $('#txtIsPrint').val('1');
        //$('#frmOutFactory').submit();
        //window.open('/OutFactory/RawOutwardPrintDetials/'+ @Html.Raw(Model.OutVou),'_blank')


    })

    $("#btnSave").click(function () {
        $('#txtIsPrint').val('0');
        $('#frmOutFactory').submit();
    })
</script>
<script>
    var ReturnId = 0;
    function PrintJobWorkReport(returnID) {

        ReturnId = returnID;
        $('#exampleModal').modal('toggle');
    }

      $(document).ready(function () {
            ReturnId = '@Html.Raw(TempData["ReturnId"])';
          var Savedone = '@Html.Raw(TempData["Savedone"])';
          if (Savedone != null && Savedone != undefined && Savedone != "" && Savedone != '' && ReturnId != null && ReturnId != undefined && ReturnId != "" && ReturnId != '') {
              $("#modelPopup").click();
              $("#EmailAddress").show();
              $("#WhatappNo").show();
            }

            $("#btn_ViewMailWhatapp").click(function () {
                let optionVal = $('input:radio[name=printOption]:checked').val();
                if (optionVal == "Print") {
                    $('#exampleModal').modal('hide');

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("OutwardPrintDetials", "OutFactory")',
                        data: { "id": ReturnId},
                        dataType: "JSON",
                        success: function (data) {
                            var host = window.location.origin + data;
                            $('#exampleModal').modal('hide');
                            $("[name=" + activeEle + "]").focus();
                            var win = window.open(host, '_blank');
                            if (win) {
                                win.focus();
                            } else {
                                alert('Please allow popups for this website');
                            }
                        },
                        error: function (response) {
                            $("#EmailAddress").val("");
                        }
                    });
                }
                else if (optionVal == "Email") {
                    if ($("#EmailAddress").val() != "" && $("#EmailAddress").val() != null) {
                        $.ajax({
                            type: "POST",
                            url: '/OutFactory/OutwardSendMail',
                            data: { "id": ReturnId, "email": $("#EmailAddress").val() },
                            dataType: "JSON",
                            success: function (data) {
                                $("[name=" + activeEle + "]").focus();
                                if (data.result) {
                                     showSuccessMessage(data.message);
                                }
                                else {
                                    showErrorMessage(data.message);
                                }
                                $('#radio1').prop('checked', true);
                                $("#EmailAddress").val("");
                                $('#exampleModal').modal('toggle');
                            },
                            error: function (response) {
                                 $("#EmailAddress").val("");
                            }
                        });
                    }
                    else {
                        alert("Please Enter Email Address")
                    }


                    //window.location.href = "/JobWorkEntry/JobWorkSendMail?id=" + ReturnId + "&email=" + $("#EmailAddress").val();

                }
                else if (optionVal == "WhatApp") {
                    let whNO = $("#WhatappNo").val();
                    if (whNO != "" && whNO != null) {
                        if (whNO.length == 10) {
                            $.ajax({
                                type: "POST",
                                url:  '/OutFactory/OutwardWhatApp',
                                data: { "id": ReturnId, "whatappNo": whNO },
                                dataType: "JSON",
                                success: function (data) {
                                    $("[name=" + activeEle + "]").focus();
                                    if (data.result == "error") {
                                        showErrorMessage(data.message)
                                    }
                                    else {
                                        showSuccessMessage(data.message);
                                    }
                                    $('#radio1').prop('checked', true);
                                    $("#WhatappNo").val("");
                                    $("#WhatappNo").hide();
                                    $('#exampleModal').modal('toggle');
                                },
                                error: function (data) {
                                    $("#WhatappNo").val("");
                                }
                            });
                        }
                        else {
                            alert("Please enter 10 digit number")
                        }
                    }
                    else {
                        alert("Please enter what app number")
                    }

                }

            });
        })
</script>
@*<script>
        $(document).ready(function () {
            $('select').select2({
                placeholder: {
                    id: '', // the value of the option
                    text: '---Select---'
                },
                allowClear: true
            });
        });
    </script>*@
@section Scripts{
    <script src="~/js/transaction-grid.js"></script>

    <script>
        $('input[name="transactionGridSrNo"]').blur(function () {
            setTimeout(function () {
                SetSelect2();

                $('select[name="OutAGdnVou"]').focus();
            }, 200)
        })

        $('.deleteButton').click(function () {
            setTimeout(function () {
            }, 1000)
        })
    </script>
}