@model SUNMark.Models.OpeningStokPipeModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int isAdministrator = HttpContextAccessor.HttpContext.Session.GetInt32("IsAdministrator").Value;
    List<SUNMark.Models.CityModel> cityList = ViewBag.cityList as List<SUNMark.Models.CityModel>;
    List<SelectListItem> layoutList = ViewBag.layoutList as List<SelectListItem>;
    List<SelectListItem> pageNoList = ViewBag.pageNoList as List<SelectListItem>;
    List<SelectListItem> nbList = ViewBag.nbList != null ? ViewBag.nbList as List<SelectListItem> : null;
    List<SelectListItem> schList = ViewBag.schList != null ? ViewBag.schList as List<SelectListItem> : null;
    var userRight = ViewBag.userRight as SUNMark.Models.UserFormRightModel;
    ViewData["Title"] = userRight.ModuleNm;
    string headerAdd = "";
    string headerList = "";
    string gridAdd = "";
    string gridList = "";
    bool headerAddTrue = false;
    bool headerListTrue = false;

    if (userRight != null && (userRight.IsAdd || userRight.IsEdit) && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
    {
        headerAdd = "active";
        gridAdd = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
}

<style>
    .clsrequied {
        color: red;
    }

    .lblstyle {
        font-family: Verdana;
        font-size: small
    }
</style>
<div class="card card-primary">
    <div class="card-header" style="font-family:Verdana">
        <h6> @ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                    @if (userRight != null && userRight.IsList)
                    {
                        <li class="nav-item">
                            <a class="nav-link @headerList" id="custom-tabs-three-list-tab" data-toggle="pill" href="#custom-tabs-three-list" role="tab" aria-controls="custom-tabs-three-list" aria-selected="@headerListTrue" style="font-family:Verdana;font-size:small" onclick="GoToListTab()">List (Alt+L)</a>
                        </li>
                    }
                    @if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
                    {
                        <li class="nav-item">
                            <a class="nav-link @headerAdd" id="custom-tabs-three-add-tab" data-toggle="pill" href="#custom-tabs-three-add" role="tab" aria-controls="custom-tabs-three-add" aria-selected="@headerAddTrue" style="font-family:Verdana;font-size:small" onclick="GoToAddTab()">Add/Update (F2)</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="tab-content" id="custom-tabs-three-tabContent">
                        @if (userRight != null && userRight.IsList)
                        {
                            <div class="tab-pane fade  @gridList" id="custom-tabs-three-list" role="tabpanel" aria-labelledby="custom-tabs-three-list-tab">
                                <div class="table-responsive mt-2" style="font-family:Verdana;font-size:small;font-display:inherit">
                                    <div class="col-md-12 col-12 mb-2 mt-2">
                                        <div class="row">
                                            <div class="col-md-1 mb-2 float-left">
                                                <select class="form-control form-control-sm" onchange="loadData()" id="drpReportPageNoDatable">
                                                    @for (int i = 0; i < pageNoList.Count; i++)
                                                    {
                                                        string checkedd = "checked";
                                                        <option checked="@checkedd" value="@pageNoList[i].Value">@pageNoList[i].Text</option>
                                                        checkedd = string.Empty;
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-md-5 col-12">
                                                <div class="row">
                                                    <div class="col-md-6 col">
                                                        <select class="form-control select2 drpReportLayout" onchange="loadData()">
                                                            <option value="" ; style="width:200px">--Select Layout--</option>
                                                            @if (layoutList != null && layoutList.Count > 0)
                                                            {
                                                                foreach (var item in layoutList)
                                                                {
                                                                    <option value="@item.Value">@item.Text </option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-auto mb-2 custommt-2-3">
                                                        @if (isAdministrator == 1)
                                                        {
                                                            <button class="btn btn-dark btn-sm text-white" style="font-family:Verdana;font-size:medium" onclick="window.open('/GridMaster/Index/' + $('.drpReportLayout').val(), '_blank');">
                                                                Edit
                                                            </button>
                                                        }
                                                    </div>
                                                    <div class="col-md-4 mb-2 custommt-2-3">
                                                        <button class="btn btn-primary btn-sm" id="btnExportToExcel">Excel</button>
                                                        <button class="btn btn-primary btn-sm ml-6" id="btnExportToPDF">PDF</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3 col-12 float-right">
                                                <input type="text" class="form-control form-control-sm" placeholder="Search" id="txtReportSearchDataTable" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dataTable">

                                    </div>
                                    <div class="pager float-right"></div>
                                </div>
                            </div>
                        }
                        @if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
                        {
                            <div class="tab-pane fade @gridAdd" id="custom-tabs-three-add" role="tabpanel" aria-labelledby="custom-tabs-three-add-tab">
                                <form method="post" class="mt-1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            V.No <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            @Html.TextBoxFor(x => x.OblNVno, new { @class = "form-control form-control-lg", @placeholder = "Bilty No", @tabindex = "1", @style = "font-family: Verdana;font-size:small; height:30px; width: 100px", @required = "required", @name = "OblNVno" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">

                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Date <span class="required clsrequied">*</span>
                                                        </label>

                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            @Html.TextBoxFor(x => x.OblDt, new { @class = "form-control form-control-lg", @placeholder = "Date", @tabindex = "2", @style = "font-family: Verdana;font-size:small; height:30px; width: 200px", @required = "required", @type = "date" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Company <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.DropDownListFor(x => x.OblCmpVou, Model.OblCmpVouList, "Select", new { @class = "form-control select2 OblCmpVou", @tabindex = "3", onfocus = "this.select()", style = "font-family: Verdana;font-size:small; height:30px; width:300px", @required = "required", @ID = "txtOblCmpVou" })
                                                            <a class="btn btn-outline-info ml-2" href="/Department/index" target="_blank"><i class="fa fa-plus"></i></a>
                                                            <a class="btn btn-outline-info ml-2" onclick="GetCompanyMasterDropdown()"><i class="fa fa-sync"></i></a>
                                                            @*<a class="btn btn-outline-info ml-2" onclick="OpenStateModal()"><i class="fa fa-plus"></i></a>*@
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Godown <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2">
                                                            @Html.DropDownListFor(x => x.OblGdnVou, Model.OblGdnVouList, "Select", new { @class = "form-control select2 OblGdnVou", @tabindex = "4", onfocus = "this.select()", style = "font-family: Verdana;font-size:small; height:30px; width:300px", @required = "required", @ID = "txtOblGdnVou" })
                                                            <a class="btn btn-outline-info ml-2" href="/GodownMaster/index" target="_blank"><i class="fa fa-plus"></i></a>
                                                            <a class="btn btn-outline-info ml-2" onclick="GetGoDownMasterDropdown()"><i class="fa fa-sync"></i></a>
                                                            @*<a class="btn btn-outline-info ml-2" onclick="OpenStateModal()"><i class="fa fa-plus"></i></a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">

                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Location <span class="required clsrequied"></span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2">
                                                            @Html.DropDownListFor(x => x.OblLocVou, Model.OblLocVouList, "Select", new { @class = "form-control select2 OblLocVou", @tabindex = "5", onfocus = "this.select()", style = "font-family: Verdana;font-size:small; height:30px; width:300px", @ID = "txtOblLocVou" })
                                                            <a class="btn btn-outline-info ml-2" href="/Location/index" target="_blank"><i class="fa fa-plus"></i></a>
                                                            <a class="btn btn-outline-info ml-2" onclick="GetLocationMasterDropdown()"><i class="fa fa-sync"></i></a>
                                                            @*<a class="btn btn-outline-info ml-2" onclick="OpenStateModal()"><i class="fa fa-plus"></i></a>*@
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Heat No. <span class="required clsrequied"></span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            <input type="text" id="LotHeatNo" name="LotHeatNo" class="form-control form-control-lg" placeholder="Heat No." tabindex="6" value="@Model.LotHeatNo" style="font-family: Verdana;font-size:small; height:30px;width:150px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Product <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.DropDownListFor(x => x.OblPrdVou, Model.OblPrdVouList, "Select", new { @class = "form-control select2 OblPrdVou", @tabindex = "7", onfocus = "this.select()", style = "font-family: Verdana;font-size:small; height:30px; width:300px", @required = "required", @ID = "txtOblPrdVou" })
                                                            <a class="btn btn-outline-info ml-2" href="/ProductMaster/index" target="_blank"><i class="fa fa-plus"></i></a>
                                                            <a class="btn btn-outline-info ml-2" onclick="GetProductMasterDropdown()"><i class="fa fa-sync"></i></a>
                                                            @*<a class="btn btn-outline-info ml-2" onclick="OpenStateModal()"><i class="fa fa-plus"></i></a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Process Done <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.DropDownListFor(x => x.LotPrcTypVou, Model.LotPrcTypVouList, "Select", new { @class = "form-control select2 LotPrcTypVou", @tabindex = "8", onfocus = "this.select()", style = "font-family: Verdana;font-size:small; height:30px; width:300px", @required = "required", @ID = "txtLotPrcTypVou" })
                                                            <a class="btn btn-outline-info ml-2" href="#" target="_blank"><i class="fa fa-plus"></i></a>
                                                            <a class="btn btn-outline-info ml-2" onclick="GetLotPrcTypMasterDropdown()"><i class="fa fa-sync"></i></a>
                                                            @*<a class="btn btn-outline-info ml-2" onclick="OpenStateModal()"><i class="fa fa-plus"></i></a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Grade <span class="required clsrequied">*</span>
                                                        </label>
                                                        <input type="hidden" name="Grade" id="Grade" />
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.DropDownListFor(x => x.LotGrade, Model.LotGradeList, "Select", new { @class = "form-control select2 LotGrade", @tabindex = "9", onfocus = "this.select()", style = "font-family: Verdana;font-size:small; height:30px; width:300px", @required = "required", @ID = "txtLotGrade" })
                                                            <a class="btn btn-outline-info ml-2" href="/GradeMaster/index" target="_blank"><i class="fa fa-plus"></i></a>
                                                            <a class="btn btn-outline-info ml-2" onclick="GetGradeMasterDropdown()"><i class="fa fa-sync"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Width <span class="required clsrequied"></span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            <input type="text" id="LotWidth" name="LotWidth" class="form-control form-control-lg" placeholder="Width " tabindex="10" value="@Model.LotWidth" style="font-family: Verdana;font-size:small; height:30px;width:150px;text-align:right" onchange="GetODDetails(this)"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Thick <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            <input type="text" id="LotThick" name="LotThick" class="form-control form-control-lg" placeholder="Thick " tabindex="11" value="@Model.LotThick" style="font-family: Verdana;font-size:small; height:30px;width:150px;text-align:right" @*onchange="GetNBSCHDetails(this)"*@ required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            OD <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            <input type="text" id="LotOD" name="LotOD" class="form-control form-control-lg" placeholder="OD" tabindex="12" value="@Model.LotOD" style="font-family: Verdana;font-size:small; height:30px;width:150px;text-align:right" @*onchange="GetNBSCHDetails(this)"*@ required />
                                                            <label class="control-label pl-1" style="font-family: Verdana;font-size:small; height:30px;" id="ODVal"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            NB <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2" style="width: 29% !important;">
                                                            @*<input type="text" id="LotNB" name="LotNB" class="form-control form-control-lg" placeholder="NB" tabindex="13" value="@Model.LotNB" style="font-family: Verdana;font-size:small; height:30px;width:150px" required />*@
                                                            @Html.DropDownListFor(x => x.LotNB, nbList, "Select", new { @class = "form-control select2", @style = "width:100% ", @required = "required" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            SCH <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2" style="width: 29% !important;">
                                                            @*<input type="text" id="LotSCH" name="LotSCH" class="form-control form-control-lg" placeholder="SCH" tabindex="14" value="@Model.LotSCH" style="font-family: Verdana;font-size:small; height:30px;width:150px" required />*@
                                                            @Html.DropDownListFor(x => x.LotSCH, schList, "Select", new { @class = "form-control select2", @style = "width:100% ", @required = "required" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Feet Per <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            <input type="text" id="FeetPer" name="FeetPer" class="form-control form-control-lg" placeholder="Length" tabindex="15" value="@Model.FeetPer" style="font-family: Verdana;font-size:small; height:30px;width:150px;text-align:right" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Finish <span class="required clsrequied"></span>
                                                        </label>
                                                        <input type="hidden" name="Finish" id="Finish" />
                                                        <div class="col-md-9 d-flex form-outline form-white mb-2" tabindex=" = 2">
                                                            @Html.DropDownListFor(x => x.LotFinish, Model.LotFinishList, "Select", new { @class = "form-control select2 LotFinish", @tabindex = "16", onfocus = "this.select()", style = "font-family: Verdana;font-size:small; height:30px; width:300px", @ID = "txtLotFinish" })
                                                            <a class="btn btn-outline-info ml-2" href="/FinishMaster/index" target="_blank"><i class="fa fa-plus"></i></a>
                                                            <a class="btn btn-outline-info ml-2" onclick="GetFinishMasterDropdown()"><i class="fa fa-sync"></i></a>
                                                            @*<a class="btn btn-outline-info ml-2" onclick="OpenStateModal()"><i class="fa fa-plus"></i></a>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            PCS <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            <input type="text" id="PCS" name="PCS" class="form-control form-control-lg" placeholder="PCS" tabindex="17" value="@Model.PCS" style="font-family: Verdana;font-size:small; height:30px;width:150px;text-align:right" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Weight <span class="required clsrequied">*</span>
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            <input type="text" id="LotQty" name="LotQty" class="form-control form-control-lg" placeholder="Weight" tabindex="18" value="@Model.LotQty" style="font-family: Verdana;font-size:small; height:30px;width:150px;text-align:right" required />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 font-weight-bold customLabel" style="font-family:Verdana;font-size:small">
                                                            Remarks
                                                        </label>
                                                        <div class="col-md-auto col-12 form-outline form-white mb-2">
                                                            <input type="text" id="OblRem" name="OblRem" class="form-control form-control-lg" placeholder="Remarks" tabindex="19" value="@Model.OblRem" style="font-family: Verdana;font-size:small; height:30px;width:300px" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            @if (userRight.IsEdit && Model != null && Model.OblVou > 0)
                                            {
                                                <button class="btn btn-primary px-md-4 mb-2 text-white" style="font-family:Verdana;font-size:medium" id="btnSave">
                                                    Save (F10)
                                                </button>
                                                <a href="/OpeningStockPipe/index" class="btn btn-warning px-md-4 mb-2 text-dark" style="font-family:Verdana;font-size:medium">
                                                    Cancel (Esc)
                                                </a>
                                            }
                                            else if (userRight.IsAdd && Model.OblVou == 0)
                                            {
                                                <button class="btn btn-primary px-md-4 mb-2 text-white" style="font-family:Verdana;font-size:medium" id="btnSave">
                                                    Save (F10)
                                                </button>
                                                <a href="/OpeningStockPipe/index" class="btn btn-warning px-md-4 mb-2 text-dark" style="font-family:Verdana;font-size:medium">
                                                    Cancel (Esc)
                                                </a>
                                            }
                                        </div>
                                    </div>



                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="stateMasterModal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add State</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" placeholder="State Name" id="txtStateNameModel" style="width: 200px" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Code</label>
                        <input type="text" class="form-control" placeholder="State Code" id="txtStateCodeModel" style="width: 150px" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Position</label>
                        <input type="text" class="form-control" placeholder="Position" id="txtStatePosModel" style="width: 80px" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="SaveState()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var oblVou = '@Html.Raw(Model.OblVou)';
        if (oblVou != null && oblVou != '' && oblVou != 0 ) {
            GoToAddTab()
            GetVoucherNumber();
        }
        else {
            GoToListTab()
        }
    });

    function GoToAddTab() {
        $('#custom-tabs-three-list-tab').removeClass('active');
        $('#custom-tabs-three-add-tab').addClass('active');

        $('#custom-tabs-three-list').removeClass('active');
        $('#custom-tabs-three-add').addClass('active');
        $('#custom-tabs-three-add').addClass('show');
        document.getElementById('OblNVno').focus();
        GetVoucherNumber();
    }
    function GoToListTab() {
        $('#custom-tabs-three-list-tab').addClass('active');
        $('#custom-tabs-three-add-tab').removeClass('active');

        $('#custom-tabs-three-list').addClass('active');
        $('#custom-tabs-three-list').addClass('show');
        $('#custom-tabs-three-add').removeClass('active');
        $('#custom-tabs-three-add').removeClass('show');
        $('#txtReportSearchDataTable').focus();
    }
</script>
<script>
    var isRecentCalledEsc = false;
    (function (code) {
        code(window.jQuery, document, window);
    }(function ($, document, window) {
        $(function () {
            $(window)
                .initKeyboard({ debug: 1 })
                .on('F2', function () {
                    GoToAddTab()
                    GetVoucherNumber();
                }).on('F10', function () {
                    $("#btnSave").click();
                })
                .on('Alt+L', function () {
                    GoToListTab();
                })
                .on('Alt+C', function () {
                    if (confirm("Do you want to exit without save?")) {
                        location.href = '/OpeningStockPipe/Index'
                    }
                    else {
                        $('#OblNVno').focus();
                    }

                }).on('Escape', function () {
                    if (!isRecentCalledEsc) {
                        isRecentCalledEsc = true;
                        if (confirm("Do you want to exit without save?")) {
                            location.href = '/OpeningStockPipe/Index'
                        }
                        //else {
                        //    $('#OblNVno').focus();
                        //}
                        setTimeout(function () {
                            isRecentCalledEsc = false;
                        }, 500)
                    }

                })
        });
    }));
</script>

<script>

    var isRecentCalled = false;

    //$("#txtDate").dateTimePicker();
    $(function () {

        loadData();
        var pageIndex = '';
        var pageSize = '';
        var totalRecord = '';
        var isDelete = '@Html.Raw(userRight.IsDelete)';
        var isEdit = '@Html.Raw(userRight.IsEdit)';
    })

    var timer = null;
    $('#txtReportSearchDataTable').keyup(function (e) {
        if (e.keyCode >= 112 && e.keyCode <= 123) {
            e.preventDefault();
            return false;
        }
        else {
            clearTimeout(timer);

            timer = setTimeout(loadData, 1000)
        }

    });

    function loadData(pageIndex, columnName, sortBy) {
            isRecentCalled = true;
            if (pageIndex == undefined || pageIndex == "" || pageIndex == "0" || pageIndex == 0) {
                pageIndex = 1;
            }
            var layoutId = $('.drpReportLayout').val();

            if (!layoutId) {
                $('.drpReportLayout').val($('.drpReportLayout').children('option').eq(1).prop('value'));
                //SetSelect2()

            }
            if (!columnName) {
                columnName = '';
            }
            if (!sortBy) {
                sortBy = '';
            }
            $('.dataTable').html();
            $.ajax({
                url: '/OpeningStockPipe/GetReportView',
                type: 'GET',
                data: { pageIndex: pageIndex, pageSize: $('#drpReportPageNoDatable').val(), searchValue: $('#txtReportSearchDataTable').val(), gridMstId: $('.drpReportLayout').val(), columnName: columnName, sortby: sortBy },
                dataType: 'HTML',
                traditional: true, // add this
                success: function (data) {
                    $('.dataTable').html(data);
                    setTimeout(function () {
                        isRecentCalled = false;
                    }, 2000)
                },
                failure: function (response) {
                    errorMessage(response);
                }
            });
    }

    $('#btnExportToExcel').click(function () {
        window.location.href = "/OpeningStockPipe/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&type=1";
    })
    $('#btnExportToPDF').click(function () {
        window.location.href = "/OpeningStockPipe/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&type=2";
    })
</script>

<script>
    function GetLotPrcTypMasterDropdown() {
        $.ajax({
            url: '/OpeningStock/GetLotPrecessList',
            type: 'POST',
            data: {},
            dataType: 'JSON',
            traditional: true, // add this
            success: function (data) {
                if (data.result) {
                    if (data.data) {
                        var oldData = $('#txtLotPrcTypVou').val();
                        $('#txtLotPrcTypVou').children('option').remove();
                        var html = `<option value="">---Select---</option>`
                        for (var x = 0; x < data.data.length; x++) {
                            if (oldData && oldData == data.data[x].value) {
                                html += `<option selected="selected" value="` + data.data[x].value + `">` + data.data[x].text + `</option>`
                            } else {
                                html += `<option value="` + data.data[x].value + `">` + data.data[x].text + `</option>`
                            }

                        }
                        $('#txtLotPrcTypVou').append(html);
                        $('#txtLotPrcTypVou').select2();

                    }
                }
                else {
                    showErrorMessage(data.message);
                }
            },
            failure: function (response) {
                errorMessage(response);
            }
        });
    }


    function numericFilter(txb) {
        txb.value = txb.value.replace(/[^\0-9]/ig, "");
    }

    function GetVoucherNumber() {
        var oblPrdType = "PIPE";
        var OblVou = "0";
        if (oblPrdType != null && oblPrdType != "" && OblVou == "0") {
            var oblVou = '@Html.Raw(Model.OblVou)';
            if (oblVou != null && oblVou != "" && oblVou == "0")
                {
                    $.ajax({
                        type: "POST",
                        url: '/OpeningStockPipe/GetLastVoucherNo',
                        data: { "OblPrdType": oblPrdType },
                        dataType: "JSON",
                        success: function (response) {
                            $('input[name="OblNVno"]').val(response.oblNVno);
                        },
                        error: function (response) {

                        }
                    });
                }

        }
    }

    $(function () {
        var grade = $('#txtLotGrade').children('option:selected').text()
        if (grade)
            $('input[name="Grade"]').val(grade);
    })

    $('#txtLotGrade').change(function () {
        var grade = $('#txtLotGrade').children('option:selected').text()
        if (grade)
            $('input[name="Grade"]').val(grade);
    })

    $(function () {
        var finish = $('#txtLotFinish').children('option:selected').text()
        if (finish)
            $('input[name="Finish"]').val(finish);
    })

    $('#txtLotFinish').change(function () {
        var finish = $('#txtLotFinish').children('option:selected').text()
        if (finish)
            $('input[name="Finish"]').val(finish);
    })

    $(function () {
        var lotType = $('#txtLotTypVou').children('option:selected').text()
        if (lotType)
            $('input[name="LotType"]').val(lotType);
    })

    $('#txtLotTypVou').change(function () {
        var lotType = $('#txtLotTypVou').children('option:selected').text()
        if (lotType)
            $('input[name="LotType"]').val(lotType);
    })

    function GetNBSCHDetails() {
        var thick = $('#LotThick').val();
        var od = $('#LotOD').val();
        if (thick != null && thick != "" && od != null && od != "") {
            $.ajax({
                type: "POST",
                url: '/OpeningStockPipe/GetNBSCH',
                data: { "thick": thick, "od": od },
                dataType: "JSON",
                success: function (response) {
                    if (response) {
                        if (response.result) {
                            $('input[name="LotNB"]').val(response.lotNB);
                            $('input[name="LotSCH"]').val(response.lotSCH);
                        }
                        else {
                            $('input[name="LotNB"]').val(response.lotNB);
                            $('input[name="LotSCH"]').val(response.lotSCH);
                        }
                    }
                    else {
                        $('input[name="LotNB"]').val(response.lotNB);
                        $('input[name="LotSCH"]').val(response.lotSCH);
                    }
                },
                error: function (response) {
                }
            });
        }
    }

</script>

<script>
    $(document).ready(function () {
        $(".OblCmpVou").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/OpeningStockPipe/GetCompany-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $('.OblCmpVou').select2({
            placeholder: "---Select---",
        });

        $('.drpReportLayout').select2({
            placeholder: "---Select---",
        });
    });
</script>
<script>
    $(document).ready(function () {
        $(".OblGdnVou").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/OpeningStockPipe/GetGodown-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $('.OblGdnVou').select2({
            placeholder: "---Select---",
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".OblLocVou").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/OpeningStockPipe/GetLocation-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $('.OblLocVou').select2({
            placeholder: "---Select---",
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".LotPrcTypVou").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/OpeningStockPipe/GetLotType-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $('.LotPrcTypVou').select2({
            placeholder: "---Select---",
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".OblPrdVou").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/OpeningStockPipe/GetProduct-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $('.OblPrdVou').select2({
            placeholder: "---Select---",
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".LotGrade").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/OpeningStockPipe/GetGrade-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $('.LotGrade').select2({
            placeholder: "---Select---",
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".LotFinish").select2({
            placeholder: "---Select---",
            ajax: {
                url: '/OpeningStockPipe/GetFinish-List',
                data: function (params) {
                    return {
                        q: params.term// search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.items
                    }
                },

            }
        });

        $('.LotFinish').select2({
            placeholder: "---Select---",
        });
        $('#LotThick').on('blur', function () {
            AutofillNBSCHByODThick();
        });
        $('#LotWidth').on('blur', function () {
            AutofillNBSCHByODThick();
        });
        $('#LotOD').on('change', function () {
            var od1 = $('#LotOD').val();
            //$('#LotWidth').val(parseFloat(parseFloat(od) * 3.14));
            var thick = $('#LotThick').val();
            var od = parseFloat(parseFloat(od1) * 3.14);
            if (thick != '' && od != '') {
                $.ajax({
                    type: "POST",
                    url: '/OpeningStock/GetNBSCH',
                    data: { "thick": thick, "od": od },
                    dataType: "JSON",
                    success: function (response) {
                        if (response) {
                            if (response.result) {
                                $('#LotNB').val(response.lotNB).trigger('change');
                                $('#LotSCH').val(response.lotSCH).trigger('change');
                            }
                            else {

                            }
                        }
                        else {

                        }
                    },
                    error: function (response) {
                    }
                });
            }
        });
        $(".select2").select2();
    });
    function AutofillNBSCHByODThick() {

        var od1 = $('#LotOD').val();
        var thick = $('#LotThick').val();
        //var od = $('#LotWidth').val();
        var od = parseFloat(parseFloat(od1) * 3.14);
        if (thick != '' && od != '') {
            $.ajax({
                type: "POST",
                url: '/OpeningStock/GetNBSCH',
                data: { "thick": thick, "od": od },
                dataType: "JSON",
                success: function (response) {
                    if (response) {
                        if (response.result) {
                            $('#LotNB').val(response.lotNB).trigger('change');
                            $('#LotSCH').val(response.lotSCH).trigger('change');
                        }
                        else {

                        }
                    }
                    else {

                    }
                },
                error: function (response) {
                }
            });
        }

    }

    function GetODDetails(obj) {
        var width = $('#LotWidth').val();
        if (width != null && width != "") {
            $.ajax({
                type: "POST",
                url: '/OpeningStock/GetOD',
                data: { "width": width },
                dataType: "JSON",
                success: function (response) {
                    if (response) {
                        if (response.result) {
                            $('#ODVal').text(response.lotOD);
                            $('#LotOD').val(response.lotOD);
                        }
                        else {
                            if (coiltype == "1") {
                                $('input[name="LotOD"]').val(response.lotOD);
                            }
                            else {
                                $('input[name="LotOD"]').val('');
                            }
                            $('#LotOD').text(response.lotOD);
                        }
                    }
                    else {
                        $('input[name="LotOD"]').val(response.lotOD);
                        
                        $('#ODVal').text(response.lotOD);
                    }
                },
                error: function (response) {
                }
            });
        }
    }


</script>
